@media (min-width: 769px) {
  button {
    cursor: pointer;
    background-color: rgba(248, 248, 248, 1);
  }

  .wrapper {
    max-width: 1120px;
    display: flex;
    flex-direction: row;
  }


  /* blocks */


  .block-brand__title-container {
    padding: 16px 32px 16px 32px;
  }


  .block-brand__brand-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
    padding: 24px 32px 24px 32px;
    background-color: rgba(248, 248, 248, 1);
    overflow: hidden;
    max-height: 200px;
  }

  .brand-list-container__list {
    flex: 1 1 240px;
  }

  .block-brand__button--hide {
    display: none;
  }


  .block-brand__button-show-or-hide {
    display: flex;
    pointer-events: none;
  }

  #block-brand__button--show-hide {
    display: none;
  }

  #block-brand__button--show-hide:checked~.block-brand__brand-list-container {
    max-height: 100%;
  }

  #block-brand__button--show-hide:checked~.block-brand__label-show-more>.block-brand__button-show-or-hide>.arrow-down {
    transform: rotate(180deg);
  }

  #block-brand__button--show-hide:checked~.block-brand__label-show-more>.block-brand__button-show-or-hide>.block-brand__button--show {
    display: none;
  }

  #block-brand__button--show-hide:checked~.block-brand__label-show-more>.block-brand__button-show-or-hide>.block-brand__button--hide {
    display: block;
  }

  #swiper-360 {
    display: none;
  }

}