@media (max-width: 768px) and (min-width: 360px) {

  /* for brand section */


  .block-brand__title-container {
    padding: 16px 24px 16px 24px;
  }

  .block-brand__brand-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 24px 24px 24px;
    column-gap: 24px;
    row-gap: 16px;
    overflow: hidden;
    max-height: 200px;
  }


  .brand-list-container__list {
    flex: 1 1 224px;
  }


  .block-brand__button-show-or-hide {
    display: flex;
    margin-left: 24px;
    pointer-events: none;
  }

  .block-brand__button--hide {
    display: none;
  }

  #block-brand__button--show-hide {
    display: none;
  }

  #block-brand__button--show-hide:checked~.block-brand__brand-list-container {
    max-height: 100%;
  }

  #block-brand__button--show-hide:checked~.block-brand__label-show-more>.block-brand__button-show-or-hide>.arrow-down {
    transform: rotate(180deg);
  }

  #block-brand__button--show-hide:checked~.block-brand__label-show-more>.block-brand__button-show-or-hide>.block-brand__button--show {
    display: none;
  }

  #block-brand__button--show-hide:checked~.block-brand__label-show-more>.block-brand__button-show-or-hide>.block-brand__button--hide {
    display: block;
  }

  #swiper-360 {
    display: none;
  }


}