@font-face {
  font-family: TT Lakes;
  src: url(./Font-tt-lakes/TTLakes-Thin.woff);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  text-decoration: none;
  color: rgba(126, 126, 130, 1);
}

ul li {
  list-style: none;
}

body {
  font-family: TT lakes;
  font-size: 16px;
  max-height: 100vh;
  max-width: 100%;
  position: relative;
}


button {
  cursor: pointer;
  background-color: white;
  transition: 0.2s linear;

}

button:hover {
  opacity: 1;

}

button:active {

  opacity: 0.7;

}

h1 {
  font-family: TT Lakes;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: bolder;
}

p {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}


/*********************************** header ******************/

.wrapper {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}


.header__greystick {
  width: 2px;
  height: 32px;
  background-color: rgba(234, 234, 234, 1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
}

.header__menu:hover {
  opacity: 1;
  transform: translate(2px, -2px);
}

button:active {

  opacity: 0.7;

}

#burger-toggle {
  display: none;
}


#burger-toggle:checked~aside .wrapper__mobile-menu {
  left: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

#burger-toggle:checked~aside .overlay-mobile-menu {
  visibility: visible;
  top: 0px;
  z-index: 2;
}

#exit-mobile-menu {
  display: none;
}

/* Mobile menu aside block */

.overlay-mobile-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  visibility: hidden;
}

.wrapper__mobile-menu {
  position: absolute;
  top: 0;
  transition: left 0.6s ease;
  left: -325px;
  background-color: rgba(255, 255, 255, 1);
  min-width: 320px;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* Mobile menu aside block - Header mobile menu */

.header__container-mobile-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px 50px 24px;
  gap: 16px;

}


.header__search-mobile-menu {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Mobile menu aside block - Main mobile menu*/

.main__list-menu-mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;

}

.main__list-menu-mobile-menu>li>a {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(27, 28, 33, 1);
  font-weight: 600;
  padding-left: 24px;
  border: 5px solid white;
}

.main__list-menu-mobile-menu>li>a:hover {
  color: rgba(126, 126, 130, 1);
  border-left: 4px solid rgba(65, 246, 215, 1);
  border-radius: 3px;
}

/* Mobile menu aside block - footer mobile menu*/

.footer__container-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 24px;
  margin-top: 32px;
}

.footer__buttons-mobile-menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__email-mobile-menu {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(27, 28, 33, 1);
}

.footer__number-mobile-menu {
  font-family: TT Lakes, sans-serif;
  font-size: 24px;
  font-weight: bolder;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer__list-lang-mobile-menu {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.footer__list-lang-mobile-menu>li {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: bolder;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer__list-lang-mobile-menu>li:hover {
  font-weight: 700;
}

/******************************** Main **********************/

.main {
  flex: 1 1 auto;
}

.main__container {
  padding: 0 0;
  background-color: rgba(248, 248, 248, 1)
}

.title {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.aqua-stick {
  width: 4px;
  height: 40px;
  background-color: rgba(65, 246, 215, 1);
  border-radius: 3px;
  margin-right: 12px;
}

.title__services {
  display: flex;
  flex-direction: row;

  font-family: TT Lakes;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.title__services-list {
  margin-top: 24px;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
}

.services-list__options {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  white-space: nowrap;
  font-weight: 600;
}

.services-list__options:hover {
  background-color: white;
  border-radius: 2px;
  border: 2px solid rgba(184, 255, 236, 1);
}

/*********************** about company **************************/
.about-company {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.about-company__text {
  padding: 0 16px 0 16px;
  font-weight: 600;
  color: rgba(27, 28, 33, 1);
}

.about-company__readmore {
  background-color: rgba(248, 248, 248, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px 0 16px 10px;
  gap: 6px;
}

.about-company__readmore-text {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* styles for brands */


.brand-wrapper {
  background-color: rgba(248, 248, 248, 1);
}

.title-brand__container {
  padding: 16px 16px 16px 16px;
  display: flex;
  align-items: center;
  max-width: 1120px;
  min-height: 56px;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.title-brand__text {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}


.brand-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  padding: 16px 16px 16px 16px;
  background-color: rgba(248, 248, 248, 1);
  overflow: scroll;
}


.brand__block {
  display: flex;
  flex-direction: row;
  min-width: 240px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 4px;
}

.brand__block>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 62, 121, 1);
  width: 40px;
  height: 40px;
}

.brand__block>div:hover {
  text-shadow: -3px 4px 2px rgba(234, 234, 234, 1);
  box-shadow: -3px 4px 2px rgba(234, 234, 234, 1);
}

.brand__block>div:active {
  box-shadow: none;
}

.show-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 32px;
  background-color: rgba(248, 248, 248, 1);
}

#show-hide-button {
  display: none;
}

/* for not 320 */
.header__container {
  padding: 0 16px 0 16px;
}

.header__greystick-768 {
  display: none;
}

.header__container-for-768 {
  display: none;
}

.about-company__text-for-768 {
  display: none;
}

.about-company__text-for-1120 {
  display: none;
}

.container__setting-and-search-for-1120 {
  display: none;
}

.show-more {
  display: none;
}

.brand-container {
  display: none;
}